* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;

    overflow-x: hidden;
    color: #cccccc;
}

.color {
    @apply text-[#101010]
}

.bg {
    @apply bg-[#101010]
}

.text {
    @apply text-[#cccccc]
}
p,.text-white{
    @apply text-[#cccccc]

}

.navlinks {
    @apply md:px-[20px] xl:px-[40px] py-[25px] hover:bg-[white] hover:text-[black] hover:cursor-pointer duration-500
}

.mobnavlink {
    @apply w-[250px] text-center py-[20px] hover:bg-[white] hover:text-[black] hover:cursor-pointer duration-500
}

.overlay {
    background: #00000061;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.043), rgba(0, 0, 0, 0.511)), url("./assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 5%;
    background-attachment: fixed    ;
}

@media screen and (max-width:1000px) {
    .hero {
        background-position: 40% 0%;
    }
}

.btn {
    @apply hover:bg-[#101010] px-[25px] md:px-[35px] py-[10px] text-[15px] md:text-[18px] rounded-[3px] 
           border border-transparent hover:border-0
          bg-transparent border-[#cccccc] text-[#cccccc] 
           hover:cursor-pointer duration-75;
}
.btn2 {
    @apply hover:bg-[#101010] px-[25px] md:px-[35px] py-[10px] text-[15px] md:text-[18px] rounded-[3px] 
           border border-transparent 
          bg-transparent border-[#cccccc] text-[#cccccc] 
           hover:cursor-pointer duration-75;
}

