* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    color: #cccccc;
}

.color {
    @apply text-[#101010]
}

.bg {
    @apply bg-[#101010]
}

.text {
    @apply text-[#cccccc]
}
p,.text-white{
    @apply text-[#cccccc]

}

.navlinks {
    @apply md:px-[20px] xl:px-[40px] py-[25px] hover:bg-[white] hover:text-[black] hover:cursor-pointer duration-500 font-[600]
}

.mobnavlink {
    @apply w-[250px] text-center py-[20px] hover:bg-[white] hover:text-[black] hover:cursor-pointer duration-500
}

.overlay {
    background: #00000061;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.043), rgba(0, 0, 0, 0.511)), url("./assets/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 5%;
    background-attachment: fixed ;
}

@media screen and (max-width:1000px) {
    .hero {
        background-position: 40% 0%;
    }
}

.btn {
    @apply hover:bg-[#101010] px-[25px] md:px-[35px] py-[10px] text-[15px] md:text-[18px] rounded-[3px] 
           border border-transparent hover:border-0
          bg-transparent border-[#cccccc] text-[#cccccc] 
           hover:cursor-pointer duration-75;
}
.btn2 {
    @apply hover:bg-[#101010] px-[25px] md:px-[35px] py-[10px] text-[15px] md:text-[18px] rounded-[3px] 
           border border-transparent 
          bg-transparent border-[#cccccc] text-[#cccccc] 
           hover:cursor-pointer duration-75;
}

.banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 5%;
    background-attachment: fixed ;
}

@media screen and (max-width:1000px) {
    .banner {
        background-position: 40% 0%;
    }
}
.filterinput{
    @apply w-1/2 p-1 focus:outline-0 rounded-[2px] bg-transparent border-2 text-[15px] border-[#cccccc]
}
.swiper-wrapper{
    overflow: visible;
}
/* .swiper-button-next:after,.swiper-button-prev:after,.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
   display: none;
} */
 .pp{
    @apply  text-[20px] md:text-[22px] xl:text-[25px] font-medium
 }
 .swiper-pagination-bullets{
    position: relative !important;
    top: 6px !important;
 }

.swiper-button-prev:after{
    color: white; 
    background-color: rgba(0, 0, 0, 0.658);
    font-size: 30px !important;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    position: relative;
    left: 10px;
 }
 .swiper-button-next:after{
    color: white; 
    background-color: rgba(0, 0, 0, 0.658);
    font-size: 30px !important;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    position: relative;
    right   : 10px;
 }
 
.swiper-pagination-bullet-active{
    background-color: white !important;
}
.swiper-slide{
    display: flex;
}